<%- include('partials/header', { title: "All Categories", heading: "Inventory Categories" }) %>

<body>
  <h1>Categories</h1>
  <ul>
    <% categories.forEach(category => { %>
      <li>
        <h3><%= category.category %></h3>
        <ul class="category-members">
          <% const categoryItems = items.filter(item => item.category_id === category.id) %>
          <% if (categoryItems.length === 0) { %>
            <li>No items present in category.</li>

            <form action="/categories/delete" method="POST">
              <p style="font-weight: bold;">Delete Category?</p>

              <input type="hidden" id="id" name="id" value="<%= category.id %>">

              <label for="password">Password: </label>
              <input type="password" name="password" id="password">

              <button type="submit">Delete Category?</button>
            </form>
          <% } else { %> 
            <% categoryItems.forEach(item => { %>
              <li><%= item.item %></li>
            <% }) %>
          <% } %>
        </ul>
      </li>
    <% }) %>
  </ul>

  <form action="/categories" method="POST">
    <p style="font-weight: bold;">Add a Category</p>

    <label for="category">Category Name: </label>
    <input type="text" name="category" id="category" required>

    <button type="submit">Add Category</button>
  </form>
</body>
